/* =========================================
   CONFIGURACIÓN GENERAL
========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #0e0b0c;
    color: #292124;
    overflow-x: hidden;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.scroll-hint {
    position: absolute;
    top: 47.5%;
    left: 65%;
    color: #e5a2b4
}

/* =========================================
   PANTALLAS
========================================= */

.screen {
    min-height: 100vh;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 70px 25px;

    transition: opacity 0.8s ease;
}

.hidden {
    display: none !important;
}


/* =========================================
   PORTADA
========================================= */

.intro-screen {
    background:
        radial-gradient(
            circle at 50% 40%,
            rgba(145, 68, 88, 0.35),
            transparent 40%
        ),
        linear-gradient(
            145deg,
            #100b0d,
            #1c1015 50%,
            #0b0809
        );

    color: white;
    text-align: center;
    overflow: hidden;
}

.intro-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
}

.small-text {
    font-size: 11px;
    letter-spacing: 5px;
    opacity: 0.65;
    margin-bottom: 30px;
}

.intro-content h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: clamp(65px, 12vw, 125px);
    line-height: 0.8;
    font-weight: 400;
    margin-bottom: 45px;
}

.intro-content h1 span {
    color: #e5a2b4;
}

.intro-description {
    max-width: 500px;
    margin: auto;
    font-size: 14px;
    line-height: 2;
    color: #d6c8cb;
    margin-bottom: 45px;
}


/* =========================================
   BOTONES
========================================= */

.main-button {
    border: 1px solid rgba(255,255,255,0.35);
    background: rgba(255,255,255,0.06);
    color: white;

    padding: 17px 30px;
    border-radius: 100px;

    font-size: 13px;
    letter-spacing: 1px;

    transition: all 0.3s ease;
}

.main-button span {
    margin-left: 12px;
    color: #e5a2b4;
}

.main-button:hover {
    background: #e5a2b4;
    border-color: #e5a2b4;
    color: #24151a;
    transform: translateY(-3px);
}

.outline-button {
    margin-top: 55px;

    background: transparent;
    border: 1px solid #a47784;

    color: #694752;

    padding: 15px 25px;
    border-radius: 100px;

    font-size: 12px;
    letter-spacing: 1px;

    transition: all 0.3s ease;
}

.outline-button:hover {
    background: #694752;
    color: white;
    transform: translateY(-3px);
}

.light-button {
    color: #e5a2b4;
    border-color: #a86d7d;
}

.light-button:hover {
    background: #e5a2b4;
    color: #211116;
}


/* =========================================
   SECCIONES CLARAS
========================================= */

.section-light {
    background:
        radial-gradient(
            circle at 80% 20%,
            rgba(229,162,180,0.15),
            transparent 30%
        ),
        #e5a2b4;
}

.content-container {
    width: 100%;
    max-width: 900px;
    text-align: center;
}

.section-number {
    font-size: 16px;
    letter-spacing: 4px;
    color: #a47784;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-description {
    font-size: 16px;
    letter-spacing: 0px;
    color: #a47784;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-container h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: clamp(45px, 7vw, 75px);
    line-height: 0.95;
    font-weight: 500;
    color: #302326;
}

.decorative-line {
    width: 50px;
    height: 1px;
    background: #a47784;
    margin: 30px auto;
}

.big-paragraph {
    max-width: 680px;
    margin: 0 auto 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    line-height: 1.5;
}

.normal-paragraph {
    max-width: 650px;
    margin: auto;
    font-size: 14px;
    line-height: 2;
    color: #75686b;
}

.center {
    margin-top: 25px;
}


/* =========================================
   SECCIONES OSCURAS
========================================= */

.section-dark {
    background:
        radial-gradient(
            circle at 20% 20%,
            rgba(145,68,88,0.20),
            transparent 30%
        ),
        #120d0f;

    color: #eee4e6;
}

.light-title {
    color: #f5e9ec !important;
}

.pink {
    background: #c27d90;
}


/* =========================================
   CARTA
========================================= */

.letter-container {
    max-width: 780px;
}

.letter {
    text-align: left;
    margin: 50px auto 0;

    max-width: 680px;

    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.5;

    color: #d9cccf;
}

.letterHighlight {
    text-align: left;
    margin: 50px auto 0;

    max-width: 680px;

    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    line-height: 1.5;

    color: #a47784;
}

.letter p {
    margin-bottom: 30px;
}

.signature {
    text-align: right;
    font-size: 30px;
    color: #e5a2b4;
    margin-top: 50px;
}


/* =========================================
   COSAS QUE AMO
========================================= */

.love-grid {
    margin-top: 55px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 15px;
}

.love-card {
    min-height: 170px;

    padding: 25px;

    background: rgba(255,255,255,0.65);
    border: 1px solid rgba(120,90,100,0.12);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;

    transition: all 0.35s ease;
}

.love-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 20px 40px rgba(80,40,50,0.08);
}

.love-card span {
    font-size: 11px;
    color: #a47784;
}

.love-card p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 23px;
    line-height: 1.15;
}


/* =========================================
   RECUERDOS
========================================= */

.memory-grid {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.memory-card {
    text-align: left;
}

.photo-placeholder {
    width: 100%;
    aspect-ratio: 4 / 5;

    background:
        linear-gradient(
            135deg,
            hwb(0 100% 0%),
            hsl(0, 0%, 100%)
        );

    border: 1px solid rgba(255,255,255,0.08);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    color: #9c8188;

    transition: transform 0.4s ease;
}

.photo-placeholder img {
    width: 95%;
    height: 75%;
    object-fit: cover;
    display: block;
    margin-bottom: 30px;
}

.photo-placeholder span {
    font-size: 25px;
    margin-bottom: 10px;
}

.photo-placeholder:hover {
    transform: scale(1.02);
}

.photo-placeholder small {
    letter-spacing: 3px;
    font-size: 9px;
}

.memory-text {
    padding: 18px 3px;
}

.memory-text h3 {
    font-family: 'Cormorant Garamond', serif;
    color: #f0dce1;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.memory-text p {
    color: #9f8e93;
    font-size: 11px;
    line-height: 1.8;
}


/* =========================================
   FUTURO
========================================= */

.future-container {
    max-width: 750px;
}


/* =========================================
   FINAL
========================================= */

.final-screen {
    background:
        radial-gradient(
            circle at center,
            rgba(145,68,88,0.35),
            transparent 45%
        ),
        #100b0d;

    color: white;
    text-align: center;
    overflow: hidden;
}

.final-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
}

.final-content h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: clamp(70px, 14vw, 140px);
    font-weight: 400;
    line-height: 0.8;

    color: #e5a2b4;
}

.final-heart {
    color: #e5a2b4;
    font-size: 35px;
    margin: 35px 0;
    animation: heartbeat 1.8s infinite;
}

.final-message {
    font-family: 'Cormorant Garamond', serif;
    font-size: 26px;
    line-height: 1.5;

    color: #d9cccf;
}

.final-signature {
    margin-top: 35px;
    color: #e5a2b4;
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
}

.restart-button {
    margin-top: 50px;

    background: transparent;
    border: none;

    color: #8e777d;

    font-size: 11px;
    letter-spacing: 1px;
}


/* =========================================
   CORAZONES
========================================= */

.hearts-container {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.floating-heart {
    position: absolute;

    color: rgba(229,162,180,0.45);

    animation: floatUp linear forwards;
}


/* =========================================
   ANIMACIONES
========================================= */

@keyframes heartbeat {

    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }
}

@keyframes floatUp {

    from {
        transform: translateY(100vh) rotate(0deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    to {
        transform: translateY(-120px) rotate(25deg);
        opacity: 0;
    }
}

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}


/* =========================================
   RESPONSIVE / CELULAR
========================================= */

@media (max-width: 700px) {

    .screen {
        padding: 60px 20px;
    }

    .intro-content h1 {
        font-size: 75px;
    }

    .love-grid {
        grid-template-columns: 1fr 1fr;
    }

    .memory-grid {
        grid-template-columns: 1fr;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .letter {
        font-size: 21px;
    }

    .big-paragraph {
        font-size: 25px;
    }
}


@media (max-width: 450px) {

    .love-grid {
        grid-template-columns: 1fr;
    }

    .intro-content h1 {
        font-size: 65px;
    }

    .content-container h2 {
        font-size: 52px;
    }

    .letter {
        font-size: 20px;
    }

}

@keyframes twinkle {
    0% {
        opacity: 0.1;
        transform: scale(0.8);
    }

    50% {
        opacity: 0.8;
        transform: scale(1);
    }

    100% {
        opacity: 0.2;
        transform: scale(0.8);
    }
}